/* body {
  display: flex;
  border-color: cadetblue;
  border-style: solid;
  align-content: center;
  justify-content: center;
} */

/* button-style{
    display: flex;
    padding-left: 14pt;
} */

.buttons {
  display: flex;
  justify-content: space-between;
}

.heart {
  color: red;
}

.questions-row {
  display: flex;
  justify-content: space-between;
}
